/* App.css */
.container {
  padding: 20px;
  border: 1px solid black;
  width: 600px;
  margin: 20px auto;
}

.flex-container {
  display: flex;
  gap: 10px;
}

.input-field,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.button {
  padding: 5px;
}

.console {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  margin-top: 10px;
}

.log-section {
  margin-top: 20px;
}
